/* Starter image */
div#starter img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* list of starters */
div#itemlist fieldset {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width : 80%;
    height : 100vh;
    background-color: 	#4a4a4a;
    border-radius: 5px;
}

/* odd no of starter will display text black */
/* div#itemlist fieldset label.container:nth-child(odd){
    color : white;
    padding-top: 30px;
} */

/* odd no of starter will display text black */
/* div#result tr.tdrow{
   background :#ECF0F1;
    color:black;
    padding-top: 30px;
}  */
div#result tr.tdrow:nth-child(odd){
    background :#1B2631;
    color:white;
    padding-top: 30px;
} 

div#result tr.tdrow:nth-child(even){
    background :#ECF0F1;
    color:black;
    padding-top: 30px;
}

/* even no of starter will display white text */
/* div#itemlist fieldset label.container:nth-child(even){
    color : black;
    padding-top: 30px;
} */

.btn.add-cart{
    padding-right : 60px;
    background-color: green;
    width : 60px;
    padding : 6px 3px;
    font-size: 10px;
    float : right;
    display: inline;
}

/*For delete Burger button */
.btn.btn-danger{
    padding-right : 60px; 
    background-color: red; 
    width : 60px;
    padding : 6px 3px;
    font-size: 10px;
    float : right;
    display: inline;
}
.btn.btn-info{
    padding-right : 60px; 
    background-color:#73D0E6; 
    width : 60px;
    padding : 6px 3px;
    font-size: 10px;
    float : right;
    display: inline;
}

.btn.btn-warning{
    padding-right : 60px; 
    background-color:#D9872F; 
    width : 60px;
    padding : 6px 3px;
    font-size: 10px;
    float : right;
    display: inline;
}

/* background for each starter item */
fieldset label:nth-child(even){
    background-color : #e6e6e6;
}

/*Heading for each page */
h1#heading{
    font-size: 20px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*Buttons for admin tasks in Burger.html */
div#adminTasks button{
   width : 80px;
   float : left;
}

/*for createBurger.html page header */
div#header{
    background-color: black;
    color : white;
    text-align: center;
}

fieldset #title{
    width : 300px;
}

.btn.moreInfo{
    float :right;
    width : 70px;
    height : 28px;
    font-size : 12px

}

div#description span{
    font-size : 35px;
}

fieldset#review{
    background-color:#D6EAF8;
    width : 100%;
    height : 170px;
    padding-top : 10px;
}

fieldset#review button{
   
    float : right;
    
}

.btn.btn-primary {
    float :left;
    width : 70px;
    height : 28px;
    font-size : 12px
}